.header {
  width: 100%;
  height: auto;
  padding: 1% 5%;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  position: fixed;
  top: 0;
  z-index: 1;
}

.navbar {
  display: flex;
  align-items: center;
  gap: 40px;
}

.nav-logo {
  font-size: 1.875rem;
  font-weight: 700;
  color: #078df3;
  cursor: pointer;
}

.nav-list {
  display: flex;
  flex-grow: 1;
  list-style-type: none;
  grid-gap: 40px;
  gap: 40px;
}

a.nav-item {
  color: #121212;
  opacity: 0.5;
  text-transform: uppercase;
}

.nav-list .active {
  opacity: 1;
  letter-spacing: 2px;
}

#profile {
  border: 1px solid #e2e2e2;
  border-radius: 50%;
  color: #098bee;
  font-size: xx-large;
}
